@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media only screen and (max-width: 7680px) {
  .page {
    width: 70%;
  }

  .single {
    width: 45%;
  }

  .archive {
    width: 60%;
  }

  #header-desktop .header-wrapper {
    padding: 0 1rem;
  }

  .home[data-home=posts] {
    .summary{
      width: calc(33.33% - 10px); /* Trừ đi khoảng cách giữa các item */
      margin-right: 10px; /* Thêm khoảng cách ngang giữa các item */
      float: left; /* Sắp xếp các mục theo hàng ngang */
      min-height: 25rem; /* Đảm bảo chiều cao phù hợp */
      border: 1px solid #ccc; /* Thêm đường viền màu xám nhạt */
      box-sizing: border-box; 
      border-radius: 10px;
      // min-height: 30.5rem;

      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* X, Y, Blur, Spread, Color */
      transition: box-shadow 0.3s ease; /* Hiệu ứng mượt khi thay đổi đổ bóng */

      // font-size: 1.1rem; /* Điều chỉnh giá trị tùy ý */
      // line-height: 1.6; /* Tăng khoảng cách giữa các dòng */
    }

    .summary:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Tăng đổ bóng khi hover */
    }
  }
}

@media only screen and (max-width: 1920px) {
  .home[data-home=posts] {
    .summary{
      min-height: 27rem;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .home[data-home=posts] {
    .summary{
      min-height: 24rem;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .archive {
    width: 56%;
  }

  .home[data-home=posts] {
    .summary{
      min-height: 23rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .archive {
    width: 52%;
  }

  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page, .single {
    width: 85%;

    .categories-card {
      .card-item {
        width: 85%;
        min-height: 10rem;
        .card-item-wrapper {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .home[data-home=posts] {
    .summary{
      width: calc(33.33% - 10px);
      margin-right: 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      // min-height: 22rem;
    }

    .summary:nth-child(3n) {
      margin-right: 0;
    }
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (max-width: 960px) {
  .home[data-home=posts] {
    .summary{
      width: 50%; /* 2 item 1 hàng trên màn hình nhỏ hơn */
      margin: 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
      // width: 100%;
      // min-height: 0;
    }
  }

  #content-404 {
    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: .9rem;
    }
  }
}

@media only screen and (max-width: 680px) {
  .wrapper {
    main {
      .container {
        padding: 0 .5rem;
      }
    }
  }

  .home[data-home=posts] {
    .summary {
      .single-title {
        margin: 0.4rem .5rem;
      }
      .post-meta {
        margin: 0 .5rem .5rem;
      }
      .content {
        margin: 0 .5rem 0 .5rem;
      }
      .post-footer {
        margin: .4rem .5rem 0 .5rem;
      }
      width: 100%; /* 1 item 1 hàng trên màn hình rất nhỏ */
      margin: 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
  }

  .single-card {
    padding: .5rem;
    margin: .5rem 0 0;
  }

  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page, .single {
    width: 100%;

    [data-header-mobile] & {
      padding-top: $header-height;
    }

    [data-header-mobile=normal] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}
